.sidebar {
  grid-column: auto / span 1;
  padding: 20px 16px;
  background: #5d5e69;
  height: 100vh;
}

.keywordArea {
  display: flex;
  flex-wrap: wrap;
}

.sidebarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.sidebarImg {
  width: 80px;
  height: 80px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
}

.sideIcon {
  color: #ff1d5e;
  height: 18px;
  width: 18px;
  margin-right: 15px;
}

.backButton {
  color: #ff1d5e;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.infoText {
  margin: 10px 0;
  font-size: 12px;
  color: whitesmoke;
  opacity: 0.7;
}

.description {
  margin: 10px 0 20px;
  font-size: 13px;
  color: whitesmoke;
  opacity: 0.8;
  font-weight: 500;
  text-align: center;
}
