.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerCenter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.fileSelectIcon {
  height: 100px;
  width: 150px;
  margin-bottom: 20px;
}

.fileSelectArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsHeader {
  color: whitesmoke;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 10px 0 0;
}

.projectList {
  width: 100%;
}

.projectListContainer {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
